{% extends "base.html" %}

{% block content %}
<html>
  <body>
    <div class="row">
        <div class="col-4">
            <h4>Users:</h4>
            <form method="post">
                {{ user_form.hidden_tag() }}
                <div class="form-group">
                  {{ user_form.name.label }}
                  {{ user_form.name() }}
                </div>
                <p></p>
                {{ user_form.submit }}
            </form>
            <p></p>
            {% include 'user_table.html' %}
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <h4>Roles:</h4>
            <form method="post">
                {{ role_form.hidden_tag() }}
                <div class="form-group">
                  {{ role_form.name.label }}
                  {{ role_form.name() }}
                </div>
                <p></p>
                {{ role_form.submit }}
            </form>
            <p></p>
            {% include 'role_table.html' %}
        </div>
    </div>
  </body>
</html>
{% endblock %}